/* -------------Base------------- */

:root {
  --surface-0: #fff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #e9eaeb;
  --surface-300: #d5d7da;
  --surface-400: #a4a7ae;
  --surface-500: #717680;
  --surface-600: #535862;
  --surface-700: #414651;
  --surface-800: #252b37;
  --surface-900: #181d27;
  --primary-color: #1570ef;
  --primary-color-hover: #175cd3;
  --border-radius: 8px;
  --success-color: #22c55e;
  --danger-color: #dc2626;
}

body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  overflow-x: hidden;
  font-family: "Roboto",  sans-serif;
  font-size: 16px;
  background-color: var(--background);
}


h1, h2, h3, h4, h5, h6 {
    line-height: 1.6 rem;
    color: var(--surface-900);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    line-height: 1.2rem;
    color: var(--surface-600);
}

section {
    padding: 40px 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px; 
    max-width: 1280px; /* Estábamos en la clase */
}

/* ------------- Componentes ------------- */
/* ------------- Botones ------------- */
.btn {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--surface-0);
  border: 1px transparent;
  border-radius: var(--border-radius);
  transition: all ease-in-out 0.5s;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--surface-0);
}

.btn-secondary {
  background-color: var(--surface-0);
  color: var(--surface-600);
  border: 1px solid var(--surface-300);
  border-radius: var(--border-radius);
}
/* ------------- Tags ------------- */
.tag {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.75 rem;
  
}


.tag-success {
    background-color: var(--success-color);
}


/* ------------- Card ------------- */

.card{
    background-color: var(--surface-0);
    border: solid 1px var(--surface-300);
    border-radius: var(--border-radius);
    padding: 12px;
}


/* ------------- Areas ------------- */
/* ------------- Header components ------------- */

header {
  border-bottom: solid 1px var(--surface-300);
  padding: 10px 20px;
  .navbar {
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    .logo {
      font-weight: 800;
      font-size: 1.5rem;
      color: var(--surface-900);
      text-decoration: none;
    }
    .menu {
      list-style: none;
      display: flex;
      gap: 20px;
      li > a {
        font-weight: 500;
        padding: 10px;
        text-decoration: none;
        color: var(--surface-600);
        transition: all ease-in-out 0.5s;
      }
      li > a:hover:not(.btn.btn-secondary) {
        color: var(--surface-800);
        text-decoration: underline;
      }
    }
    @media (max-width: 970px) {
        .menu {
            display: none;
          }
    }
  }
}
/* ------------- Hero ------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-placeholder {
  position: relative;
  width: 33.33%;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

.discount-tag {
    position: absolute;
    top: 10px;
    left: 10px;
  }


.description {
  flex: 1; 
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}


.section-prefix {
    text-transform: uppercase;
    color: var(--danger-color);
    font-weight: 700;
}

.pricing-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.features-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .feature-item {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;
        width: calc(33.333% - 10px);
        box-sizing: border-box;

        .feature-item-icon {
            color: var(--surface-600);
        }

        .feature-item-text {
            flex-grow: 1;
            color: var(--surface-600);
        }
    }
}

/* ------------- Related ------------- */

.accesories-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 10px;
    .card {
        width: 25%;
        margin: 0;
    }
}

.card-placeholder {
    aspect-ratio: 2 / 1; 
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  


/* ------------- Media Queries ------------- */


@media (max-width: 970px) {
    .container {
      flex-direction: column; 
    }
    .hero-placeholder,
    .description {
      width: 100%; 
    }
    .features-area {
        .feature-item {
            /* NOTA: Meto -10px teniendo en cuenta el gap del area para forzarlo a que quepa según diseño */
            width: calc(50% - 10px);
        }
    }
    .accesories-area {
        flex-direction: column;
        gap: 10px;
        .card {
            /* NOTA: -30 =  Gap + padding global */
            width: calc(100% - 30px);
        }
    }
  }